<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556300496720-tcjbk8f66b0ijaor1hlkr5cfmog9nea8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556300496720-tcjbk8f66b0ijaor1hlkr5cfmog9nea8</string>
	<key>API_KEY</key>
	<string>AIzaSyAzqMtnuMFF4_FIppWKwAhmLegLkdPTBjM</string>
	<key>GCM_SENDER_ID</key>
	<string>556300496720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VladB.SushiShop</string>
	<key>PROJECT_ID</key>
	<string>sushishop-b0402</string>
	<key>STORAGE_BUCKET</key>
	<string>sushishop-b0402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556300496720:ios:7506a7238f51dfdd06c655</string>
</dict>
</plist>